.defaultHeaderWrapper {
    /* background-image: url('../../assets/images/df_bg.jpg'); */
    display: flex;
    justify-content: space-between;
    background-color: #FFC300;
}

.headerLeft {
    display: flex;
    gap: 1em;
}

.headerMiddle {
    display: flex;
    gap: 11em;
    margin: auto;
    font-size: 24px;

    a {
        color: black;
    }
    a:hover{
        text-decoration: underline ;
        color: white;
        font-weight: bold;
    }
}

.headerRight {
    margin: 2em 6em 0em 0em;
    /* // margin-left: auto;
        // margin-top: 2em;
        // margin-right: 2em; */
 button{
    color: white !important;
    background-color: black !important;
    /* border-radius: 50% !important; */
}
}

.footer_followus_wrapper {
    display: grid;
    justify-content: center;
    text-align: center;
    padding: 1rem 0;
}

.footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    text-align: start;
    /* margin: 0; */
    padding:2rem 0;
    height: 20vh;
}

.footer ul{
    list-style-type: none;
}

.defaultHeaderWrapper img {
    border-radius: 1rem;
}